# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/

# Misc
.DS_Store
*.pem

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn

# Build tool outputs
.next/
out/
build/

# Node-specific
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# Vite-specific
*.timestamp-*
